body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #0b0c10;
      color: #C5C6C7;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      background-color: #1F2833;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      color: orange;
    }

    nav a {
      margin-left: 20px;
      text-decoration: none;
      color: #68FCF1;
      font-weight: 500;
    }

    .cta-button {
      border: 1px solid #91286d;
      border-radius: 20px;
      padding: 10px 20px;
      color: #91286d;
      text-decoration: none;
      font-weight: bold;
    }

    .main {
      padding: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .text-section {
      max-width: 40%;
    }

    .text-section h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }

    .text-section p {
      font-size: 18px;
    }

    .images-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .circle-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
    .highlight {
        color:#68FCF1;
    }